@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "San Francisco", "Verdana", "Helvetica", "sans-serif";
  font-size: 17px;
  font-weight: 400;
  color: white;
  background-color: black;

}

h1 {
  font-size: 200%;
  font-weight: 600;
  padding-left: 10%;
}

header {
	background: #2f95e3;
	color: #FFFFFF;
	padding: 32px 0;
}

h4 {
	padding-left: 10%;
	color: rgba(255, 255, 255, .4);
	margin-bottom: 0;
	font-size: 150%;
	margin-top: -30px;
}

.timeline {

	position: relative;

	&::before {
		content: '';
		background: #C5CAE9;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;


			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
		.timeline-img-header > h2 {
			color: #FFFFFF;
			position: absolute;
			bottom: 5px;
			left: 20px; 
		}
		/* .timeline-nonimg-header > h2 {
			color: #FFFFFF;
			position: absolute;
			bottom: 5px;
			left: 20px; 
			margin-top: 0px;
			margin-bottom: 0px;
		} */

	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background-color: #1A1A1B;
	color: #D7DADC;
	/* box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3); */
	border: 1px solid #343536;

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-content{
	padding: 0!important;
}

.timeline-content > p {
	padding: 0 20px;
}

.timeline-content > a {
	margin-left: 20px;
}


.timeline-img {
	width: 30px;
	height: 30px;
	background: #2f95e3;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

a {
	background: #ff4500;
	color: #FFFFFF;
	padding: 8px 20px;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 9999px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
	opacity: 0.85;
	text-decoration: none;


	&:hover {
		opacity:1;
		color: #FFFFFF;
	}
}

.timeline-card { 
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;
}

/* .timeline-nonimg-header {
	height: 100px;
	position: relative;
	margin-bottom: 0px;
} */

.timeline-img-header > h2 {
	color: #FFFFFF;
	position: absolute;
	bottom: 5px;
	right: 20px; 
}

/* .timeline-nonimg-header > h2 {
	color: #FFFFFF;
	position: absolute;
	bottom: 5px;
	right: 20px; 
	margin-top: 0px;
	margin-bottom: 0px;
} */

.date {
	color: #818384;
	display: inline-block;
	font-size: 12px;
    font-weight: 400;
    line-height: 18px;
	/* color: #FFFFFF; */
	background-color:#1A1A1B;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.navbar {
	overflow: hidden;
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 1px solid #424246;
}
  
.navbar a {
	border-radius: 0px;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0 10px;
	background-color: transparent; 
}
  
.navbar a:hover {
	color: #E9F5FD;
	text-decoration: none;
}
  
  
.navbar a.active {
	color: #E9F5FD;
	border-bottom: 3px solid
}

.header {
	text-align: center;
}

h3 {
  margin:0;
  font-size: 4rem;
}

img {
	width: 100%;
  	height: auto;
	margin: auto 0;
}

.text{
	padding:100px 0;
}

/* width: 45%;
padding: 10px 30px;
border-radius: 4px;
background-color: #1A1A1B;
color: #D7DADC;
box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3); */

.text-section {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	padding: 10px 30px;
	border-radius: 8px;
	background-color: #1A1A1B;
	/* box-shadow: 0 20px 25px -15px rgba(255, 255, 255, 0.3); */
	border: 1px solid #343536;

}

h5 {
	margin:0;
	font-size: 2rem;
	padding-bottom: 1%;
	background-color: #1A1A1B;

}

.text-section > p {
	margin:0;
	font-size: 1rem;
	padding-bottom: 1%;
	background-color: #1A1A1B;

}
	

.graph {
	width: 50%;
	margin: auto 0;
	background-color: #1A1A1B;

}

.animate__fadeInLeft {
	animation: fadeInLeft 1s ease both;
}

.animate__fadeInRight {
	animation: fadeInRight 1s ease both;
}

.animate__fadeIn {
	animation: fadeIn 1s ease both;
}
